<!DOCTYPE html>
<html>

<head>
    <title>Recipe Temperature Comparison</title>
    <link href="css/nv.d3.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap_3.3.6/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="js/d3.min.js" type="text/javascript"></script>
    <script src="js/nv.d3.js" type="text/javascript"></script>
    <script src="js/jquery-2.2.2.min.js" type="text/javascript"></script>
    <script src="js/jinqjs.js" type="text/javascript"></script>
    <script src="js/lodash.min.js" type="text/javascript"></script>
    <script src="js/angular.min.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/jquery.isloading.min.js" type="text/javascript"></script>
    <script src="js/moment.js" type="text/javascript"></script>
    <script src="js/bootstrap_3.3.6/js/bootstrap.min.js" type="text/javascript"></script>

    <style type="text/css">
        body {
            width: 97%;
            margin-right: auto;
            margin-left: auto;
        }

        .isloading-wrapper {
            color: #fff;
            position: absolute;
            top: 50%;
            left: 48%;
            width: 150px;
            height: 150px;
            font-size: 20px !important;
        }

        .isloading-overlay {
            height: 100% !important;
        }

        .icon-spin {
            animation: spin 1s infinite linear !important;
            -webkit-animation: spin2 1s infinite linear !important;
        }

        @keyframes spin {
            from {
                transform: scale(1) rotate(0deg);
            }
            to {
                transform: scale(1) rotate(360deg);
            }
        }

        @-webkit-keyframes spin2 {
            from {
                -webkit-transform: rotate(0deg);
            }
            to {
                -webkit-transform: rotate(360deg);
            }
        }
    </style>
</head>

<body class="question-page new-topbar" ng-app="chartApp" ng-controller="chartController">
    <h1 style="margin-left:auto; margin-right:auto; text-align:center;width:100%"> Recipe Temperature Comparison </h1>

    <br />

    <form>
        <div class="row">

            <div class="form-group col-xs-3">
                <label>Recipe</label>
                <select ng-model="selectedRecipeIndex" id="recipes" class="form-control ">
                    <option ng-selected="{{$index == selectedRecipeIndex}}" ng-repeat="recipe in recipes" value="{{$index}}">
                        {{recipe.name}}
                    </option>
                </select>
            </div>

            <div class="form-group col-xs-3">
                <label>Start Date</label>
                <input type="date" class="form-control " ng-model="startDate" />
            </div>

            <div class="form-group col-xs-3">
                <label>End Date</label>
                <input type="date" class="form-control " ng-model="endDate" />
            </div>

            <div class="form-group col-xs-3">
                <label>Trays</label>
                <select ng-model="numOfTrays" class="form-control ">
                    <option value="0" selected> 0 </option>
                    <option value="1"> 1 </option>
                    <option value="2"> 2 </option>
                    <option value="3"> 3 </option>
                    <option value="4"> 4 </option>
                    <option value="4"> 5 </option>
                    <option value="5"> 6 </option>
                    <option value="6"> 7 </option>
                    <option value="7"> 8 </option>
                    <option value="8"> 9 </option>
                    <option value="10"> 10 </option>
                    <option value="0,1,2,3,4,5,6,7,8,9,10"> All </option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-3 pull-right">
                <button type="submit" class="btn btn-primary pull-right" ng-click="changeRecipe()">Apply</button>
            </div>
        </div>
    </form>
    <!--
    <div class="col-xs-12">

        <div class="form-group col-xs-4">

        </div>
    </div> -->

    <div class="row">
        <div class="col-xs-6">
            <h3>Temperature Comparison</h3>
        </div>
        <div class="col-xs-6">
            <h3 class="pull-right">Oven Load</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <div id="lineChart" style="height: 500px;width:100%">
                <svg></svg>
            </div>
        </div>
        <div class="col-xs-4">
            <div id="pieChart" style="height: 500px;width:100%">
                <svg></svg>
            </div>
        </div>
    </div>


</body>

</html>
